<%= render 'shared/page_header', title: @contractor.full_name %>

<main>
  <div class="py-6 mx-auto mt-8 bg-white rounded-lg shadow-lg max-w-7xl sm:px-6 lg:px-8">
    <h2 class="mb-6 text-3xl font-bold leading-tight text-gray-800">
      <%= @contractor.full_name %>
    </h2>
    <hr/>
  </div>
</main>
